

    .titleForm1 {
        text-align: center;
        text-align: center;
    border-top: 1px solid;
    margin-top: 4rem;
    }

    .noResultAff {
        text-align: center;
    }

    .containerCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 15px;
        margin-left: 15px;
    }

    .titleCard {
    text-align: center;
    text-align: center;
    margin-top: 4rem;
    font-size:xx-large
    }

    .elment-annuaire{
        display: grid;
    grid-template-columns: 2fr 1fr;
    }

    @media screen and (max-width: 768px) {
        .elment-annuaire{
            display: flex;
            flex-direction: column-reverse;
        
        }
    }