.container-contact {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

.contact-box{
	max-width: 75vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
	border: solid 2px white;
}

.left{
	background-size: cover;
	height: 80vh;
	object-fit: cover;
}

.right{
	padding: 25px 40px;
}

.titre2-contact {
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	color: rgb(255, 255, 255);
	letter-spacing: 3px;
}

.titre2-contact:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #F15412;
}

.field-contact{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgb(255, 255, 255);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field-contact:hover{
	background-color: #f7b193;
}

textarea{
	min-height: 150px;
}

.bouton-contact{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #F15412;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.bouton-contact:hover{
    background-color: #F15412;
}

.field-contact:focus{
    border: 2px solid #F15412;
    background-color: #fff;
}



