.buttonEvent {
  width:11em;
  padding-inline: auto;
  padding-left: 2em;
}
.contener-form-event {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  align-content: center;
  
}

.h1event {
  font-size: 2rem;
  text-align: center;
}


.eventForm {
  display: flex;
  margin-inline: 2em;
  width:6em;
}

@media screen and (max-width:1000px) {

.contener-form-event {  flex-direction: column;
  display: flex;
  
  justify-content: center;
 border-right: none;
 border-left: none;

}
.buttonEvent {
        
  margin-bottom: 1rem;
padding: 10px 30px;
background-color: var(--gray-2);
border: solid black 1px;
font-weight: bold;align-items: center;
margin-top: 1rem;
}

.buttonEvent:after{
display: none;
}
.buttonEvent:hover {
transform: none;
}
.buttonEvent:active {
box-shadow: 
  7px 6px 28px 1px rgba(0, 0, 0, 0.35);
transform: translateY(10px);

}

}

