.buttonEvent {
  width:20px;
}
.contener-form-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  
}

.h1event {
  font-size: 3rem;
  text-align: center;
}


.eventForm {
  display: flex;
  margin-inline: 2em;
  width:6em;
}