
.profile-g-wrapper {
  display: block;
}
.profile-g-image {
  width: 100%;
  height: 100%;
  border:0px;
  vertical-align: middle;
  border-style: none;
  object-fit: cover;
  object-position: center;
}

.bg-black {
  background: #000;
}


/* @media (min-width: 992px){
.profile-g-container {
    max-width: 960px;
  }
.profile-g-coninfo{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
} */



body {
  background-color: #eeeeee;
}
.profile-g-container{
  margin: 1rem 0 1rem 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



.profile-g-coninfo {
  /*flex: 0 0 33.333333%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.3333%;
  max-width: 33.333333%;  */
}

/* .img{
max-width: 100%;
} */

.profile-g-info{
  display: flex;
  flex-direction: column;
  flex: 0 0 66.666667%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 66.6667%;
  /* max-width: 66.666667%;  */
  max-height: 100%;
}

.profile-g-liens {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.profile-g-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(90, 90, 90);
  color: white;
  font-size: 60px;
  height: 40%;
}

.profile-g-social h4 {
color: white;
font-size: 25px;
text-align: start;
/* height: 90px;
line-height: 90px; */
}

.profile-g-name {
height:100%;
  Display: flex;
  flex-direction: column;
  padding: 10px;
}
.profile-g-name h3{
  padding: 0;
}

.profile-g-reseaux{
width: 200px;
height: 80px;
display: flex;
flex-direction: row;
align-items: flex-start;
}
.profile-g-reseaux img{
  padding: 0.5vh;
  
  }

  .profile-g-totobtn {
    display: inline-block;
    background-color: #0d1117;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #f15412;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
    }
    .profile-g-totobtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }
    .profile-g-totobtn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }
    .profile-g-totobtn:hover {
    background-color: #f15412;
    color: #0d1117;
    }
    .profile-g-totobtn:hover span {
    padding-right: 25px;
    }
    .profile-g-totobtn:hover span:after {
    opacity: 1;
    right: 0;
    }

.profile-g-title {
  background-color: #211e1e;
  height: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  align-content: flex-start;
  align-items: flex-start;
}

.profile-g-title h4 {
  color: white;
  text-align: start;
  padding-left: 0px;
  padding-top: 5px;
  /* margin-right: 0px; */
  padding-bottom: 5px;
}
.profile-g-title p {
color: white;
}

.profile-g-cubes{
  display: flex;
  flex-direction: row;
  color: white;
  height: 35%;
}
.profile-g-cube1{
  background-color: #f155126f;
  text-align: center;
  display: block;
  width: 30%;
  padding: 0px;
}
.profile-g-cube2{
 background-color: #f15512aa;
  text-align: center;
  display: block;
  width: 30%;
  padding: 0px;
}
.profile-g-cube3{
  background-color: #f15512d0;
  text-align: center;
  display: block;
  width: 30%;
  padding: 0px;
}
.profile-g-cube4{
  background-color: #f15512f6;
  text-align: center;
  display: block;
  width: 30%;
  padding: 0px;
}
.pd-image:hover {
  border: 4px solid #494252;

}

.colortext{
  color: rgb(10, 9, 10);
}

.profile-g-mappor{
  margin: 1rem 0 1rem 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.profile-g-map {
width: 50%;
height: 100%;
/* padding-top: 0px; */
margin-top: 10px;
margin-bottom: 10px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-content: space-around;
justify-content: space-evenly;
align-items: center;}

.profile-g-WTF{
width: 50%;
height: 100%;
}

.profile-g-contain{
height: 300px;
width: 300px;
}

.player__container{
height: 100px!important;
width: 100px!important;
margin-top: 1rem;
}
.player__container img{
height: 100px!important;
width: 100px!important;
border:10px solid white;
border-radius: 50%;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
cursor: pointer;
}
.player__container .title{
height: 100px!important;
width: 250px!important;
border: 8px solid #777;
border-radius: 10%;
color: black;
}


@media (max-width: 520px) {

  .profile-g-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

  .profile-g-gutter {
    display: flex;
    width: 80%;
    flex-direction: column;
  }

.profile-g-coninfo {
/* 
 */
/* flex-grow: 1;
flex-shrink: 0; */
/* flex-basis: 33.3333%; */
width: 100%; 
max-height: 500px;
}
.profile-g-coninfo img {
height: 718px;
}
.profile-g-social {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px;
background-color: rgb(90, 90, 90);
color: white;
font-size: 60px;
height: 30%;
}

.profile-g-name h3 {
  font-size: 30px;
}

.profile-g-resbtn{
height: 100%;
/* display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
align-content: space-around;
padding-right: 10px; */
}
.profile-g-reseaux {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}
.profile-g-resfain{
height: 40px;
width: 40px;
}
.profile-g-resyoutub{
height: 40px;
width: 65px;
}

.profile-g-totobtn {
border-radius: 10px;
border: 4px double #cccccc;
font-size: 15px;
padding: 5px;
width: 100px;
margin: 5px;
}

.profile-g-totobtn span:after {
right: -20px;
}

.profile-g-totobtn:hover span {
padding-right: 25px;
}

.profile-g-mappor {
margin: 1rem 0 1rem 0;
width: 100%;
padding-right: 15px;
padding-left: 15px;
}

.profile-g-title {
  padding: 5px;}

.profile-g-title h4 {
  font-size: 20px;
}
.profile-g-title p {
font-size: 15px;
}
.profile-g-info{
display: flex;
flex-direction: column;
/* flex: 0 0 66.666667%; */
flex-grow: 1;
flex-shrink: 0;
/* flex-basis: 66.6667%;
max-width: 66.666667%;  */
max-height: 100%;
width: 100%; 
}

.profile-g-cubes{
  height:auto;
}

  .profile-g-cubes h4{
color: white;
font-size: 15px;
padding: 0px;
}
.profile-g-cubes h6{
color: white;
font-size: 12px;
padding: 0px;
}
.profile-g-cube1{
padding-top: 9px;
padding-bottom: 9px;
width: 25%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;

}
.profile-g-cube2{
  padding-top: 9px;
  padding-bottom: 9px;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.profile-g-cube3{
  padding-top: 9px;
  padding-bottom: 9px;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.profile-g-cube4{
  padding-top: 9px;
  padding-bottom: 9px;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
}

@media (min-width:520px) and (max-width: 1199px) {

.profile-g-coninfo {
  /* 
   */
  /* flex-grow: 1;
  flex-shrink: 0; */
  /* flex-basis: 33.3333%; */
  width: 100%; 
  max-height: 500px;
}
.profile-g-coninfo img {
height: 718px;
}
.profile-g-social {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 5px;
background-color: rgb(90, 90, 90);
color: white;
font-size: 60px;
height: 20%;
}
.profile-g-resbtn{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
align-content: space-around;
padding-right: 10px;
}
.profile-g-reseaux {
width: 95px;
height: 270px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
/* padding-right: 5px; */
margin-right: 10px;
align-items: center;
justify-content: flex-start;

}
.profile-g-resfain{
  height: 65px;
  width: 65px;
}
.profile-g-resyoutub{
height: 65px;
width: 90px;
}

.profile-g-totobtn {
display: inline-block;
background-color: #0d1117;
border-radius: 10px;
border: 4px double #cccccc;
color: #f15412;
text-align: center;
font-size: 20px;
padding: 10px;
width: 100px;
transition: all 0.3s;
cursor: pointer;
margin: 5px;
}
.profile-g-totobtn span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.profile-g-totobtn span:after {
content: "\00bb";
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
.profile-g-totobtn:hover {
background-color: #f15412;
color: #0d1117;
}
.profile-g-totobtn:hover span {
padding-right: 25px;
}
.profile-g-totobtn:hover span:after {
opacity: 1;
right: 0;
}



.profile-g-mappor {
margin: 0
}

.profile-g-info{
  display: flex;
  flex-direction: column;
  /* flex: 0 0 66.666667%; */
  flex-grow: 1;
  flex-shrink: 0;
  /* flex-basis: 66.6667%;
  max-width: 66.666667%;  */
  max-height: 100%;
  width: 100%; 
}
.profile-g-title h4 {
color: white;
font-size: 30px;
text-align: start;
/* height: 90px; */
/* line-height: 90px; */
padding-left: 0px;
padding-top: 5px;
/* margin-right: 0px; */
padding-bottom: 5px;}

.profile-g-cubes h4{
  color: white;
font-size: 28px;
}
.profile-g-cubes h6{
  color: white;
font-size: 20px;
}
.profile-g-cube1{
  padding: 0px;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  
}
.profile-g-cube2{
    padding: 0px;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
.profile-g-cube3{
    padding: 0px;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
.profile-g-cube4{
    padding: 0px;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}

@media (min-width:1200px) {

.profile-g-resbtn{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.profile-g-reseaux {
width: 270px;
height: 82px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
/* padding-right: 5px; */
margin-right: 10px;
align-items: center;

}
.profile-g-resfain{
  height: 80px;
  width: 80px;
}
.profile-g-resyoutub{
height: 63px;
width: 100px;
}
.profile-g-cubes h4{
color: white;
font-size: 40px;
}
.profile-g-cubes h6{
color: white;
font-size: 25px;
}
.profile-g-cube1{
      padding: 10px;
      
}
.profile-g-cube2{
        padding: 10px;
       }
.profile-g-cube3{
        padding: 10px;
        
}
.profile-g-cube4{
        padding: 10px;
        
}
.profile-g-gutter{
margin-right: 0;
margin-left: 0;
display: flex;
flex-wrap: nowrap ;
box-shadow: #552360;
}
}


