 footer{
    background: var(--black-header);
    color:var(--text-primary-color); 
    /* min-height:10vh;    */
} 

.footer {
    display : flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    text-align: center;
    
}