:root{
    --width:800px;
    --height:600px;
}

.login{
max-width: var(--width);
height: var(--height);
margin: auto;



font-size: 2rem;;
}


.login__container-bg{
    padding-top: 3rem;;
    /* background : url(../../assets/images/groupBlackAndWhite.png) center center /cover; */
    /* background : linear-gradient(45deg,var()); */
    border-radius: var(--border-radius-1);
}


.login__container-form {
    position:relative;
backdrop-filter: blur(10px);
    width:100%;
    border-radius: var(--border-radius-3);
    border:2px solid var(--orange-logo);
    /* margin: 1rem; */
    box-shadow: 1px 1px 15px var(--bg-deg-2),
    1px 1px 15px var(--bg-deg-1);

}


.login input{
    margin: 0.5rem auto;

    width:80%;
    height:50px;
border-radius: var(--border-radius-2);
padding-left:1rem;
border: 0px solid white;
font-size: 1.8rem;
}
.login 
label{
    margin: auto;
    margin-top:1rem;
    margin-bottom:0.5rem;
    padding: 1rem 0;
    padding-bottom:1rem;
    margin-bottom:0;
    width: 80%;
    height: 50px;
    font-size: 2.3rem;
   
}

.login button {
    position: relative;
    width: 80%;
    margin:auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    height:80px;
    border-radius: var(--border-radius-2);
    font-size: 2.3rem;
    background-color: var(--bg-deg-2);
    color:white;
    border:1px solid white;
    transition: 0.6s 0s ease-in-out;
}
.login button:hover{
    cursor: pointer;
    border: 1px solid white;
    
    background-color:var(--bg-deg-1); ;
    color: var(--bg-deg-2);
}
.login h2{
    font-size: 3.5rem;
    text-align: center;
    border:0px;

}

.state{
    position: absolute;
    border-radius:50%;
    bottom:194px;
    right:107px;
}

.error{
    margin: auto;
}

.close{
    position:absolute;
    width:40px;
    border-radius:50%;
    /* background: url(../../assets/images/knob--round.png) center center/cover; */
    top:2rem;
    right:2rem;
    transition: 0.6s 0s ease-in-out;
    transform: rotate(0deg);
    border:1px solid var(--orange-logo);
}

.close:hover {
    cursor: pointer;
    border: 1px solid var(--orange-logo);
    background: var(--orange-logo);
    box-shadow: 1px 1px 15px var(--orange-logo),
            1px 1px 15px var(--white);
    transform: scale(1.12);
    transform:rotate(180deg);
}