/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap%27');

:root {
    --primary-1: #3498db;
    --primary-2: #2980b9;
    --danger-1: #e74c3c;
    --danger-2: #da24dd;
    --success-1: #2ecc71;
    --success-2: #27ae60;
  
    --gray-1:#D9D9D9;
  
    --gray-2: #B7B7B7;
    --gray-3: #3c63a2;
  
    --black-logo: #060606;
    --orange-logo: #F15412;
  
  
    --text-color: #444;
  
    --text-primary-color: white;
    --background-primary-color: var(--gray-1);
  
    --border: 1px solid var(--gray-2);
    --border-radius: 4px;
    --border-radius-1: 50px;
  
    --font-family-1: "Oswald";
    --font-family-2:"Urbanist";
    --font-family-3:"Roboto";
  } */

.wrapper_text {
    background: var(--black-logo);
    height: 500px;
    text-align: center;
    padding: 3rem;
    /* height: 300px;
    text-align: center;
    padding:1.5em 0; */
    /* background-color: var(--gray-3); */
}


/* ***************Animation Text machine à écrire *****************/
.title_concept {
    font-family: var(--font-family-1);
    font-size: var(--font-size-2);
    color: var(--bg-deg-2);
    padding: 0.5em 0;
    text-align: center;
}

.animate-text { 
    font-family: var(--font-family-2);
    text-align: center;
    visibility:hidden;
}
  .animate-text span { 
	display:inline-block;
    color: var(--text-primary-color);
    animation:fade-in 0.2s ease-in-out 1;
	animation-fill-mode: forwards;
}
@keyframes fade-in {
	0% { opacity:0; font-size:0; xxmargin-left:100px; }
    100% { opacity:1; xxfont-size:300%; xxtransform:rotate(360deg); margin-left:0; }
}

  /* ---------------- */