.bigwrapper-apropos {
  background-color:#0d1117;
  padding-bottom: 16px;
}

.wrapper-parallax::-webkit-scrollbar {
  display: none;
}


/* ***************parallax*************** */
.wrapper-parallax {
height: 100vh;
overflow-y: auto;
overflow-x: hidden;
perspective: 10px;
}
.header-apropos{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  height: 70%;
  transform-style: preserve-3d;
  z-index: -1;
}
.boomer,
.partoch {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: -1;
}

.boomer {
 transform: translateZ(-10px) scale(1.5);
}
.partoch {
  transform: translateZ(-5px) scale(1);

}

/* fin parallax*************** */

/* ***************cards*************** */
.h1-apropos {
  font-size: 8rem;
  padding: 1rem 4rem !important;
  color: #0d1117;
  padding-right: 60%;
  text-shadow: 0 0 15px white;
}

.wrapper-apropos {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  justify-content: center;
  grid-gap: 2rem;
  margin: 2rem 14rem;
}

.container-apropos {
  width: 350px;
height: auto;
  text-align: center;
  border-radius: .2rem;
  background-color: #0d1117;
  position: relative;
  overflow: hidden;
  animation: shadow-pop-tr 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/*  ***************effet cube card */
@-webkit-keyframes shadow-pop-tr {
  0% {
            box-shadow: 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13;
            transform: translateX(0) translateY(0);
  }
  100% {
            box-shadow: 1px -1px #d64d13, 2px -2px #d64d13, 3px -3px #d64d13, 4px -4px #d64d13, 5px -5px #d64d13, 6px -6px #d64d13, 7px -7px #d64d13, 8px -8px #d64d13;
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
            box-shadow: 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13, 0 0 #d64d13;
            transform: translateX(0) translateY(0);
  }
  100% {
            box-shadow: 1px -1px #d64d13, 2px -2px #d64d13, 3px -3px #d64d13, 4px -4px #d64d13, 5px -5px #d64d13, 6px -6px #d64d13, 7px -7px #d64d13, 8px -8px #d64d13;
            transform: translateX(-8px) translateY(8px);
  }
}
/*  fin effet cube card*************** */

.banner-apropos {
  position: absolute;
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-apropos {
  width: 15rem;
  clip-path: circle(60px at center);
  margin-top: 6rem;
  object-fit: contain;
}


.description-apropos {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

/* ***************btn */

.btn-apropos {
  width: 100%;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  --b: 0.3em;   /* the thickness of the line */
  --c: #d64d13; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,rgb(238, 229, 229) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.btn-apropos:hover {
  --_p: 100%;
  --_s: .3s;
}
/* fin btn*************** */

/* fin cards*************** */

/* ***************MEDIA SCREEN*************** */
@media screen and (min-width:768px) {
  .wrapper-apropos {
    grid-template-columns: repeat(2, 1fr);
  }
      
}
@media screen and (max-width:767px) {
  .wrapper-apropos {
    grid-template-columns: repeat(1, 1fr);}
    .h1-apropos {
      position: absolute;
      top:15%;
      text-align: center;
      font-size: 4rem;
      padding: 0;
    }
    .header-apropos {
      height: 45%;
    }
  }


  @media screen and (min-width:1200px) {
    .wrapper-apropos {
        grid-template-columns: repeat(3, 1fr);
      }
        
  }

@media screen and (min-width:1600px) {
  .wrapper-apropos {
      grid-template-columns: repeat(4, 1fr);
  }
 
}