.container__equalizer {
    position: relative;
    /*left: 100; */
    /* margin: 10px auto; */
    height: 50px;
    text-align: center
  }
  
  .container__equalizer::before {
    content: "";
    display: inline-block;
    height: 100%;
  }
  
  .container__equalizer::after {
    content: "";
    display: block;
    font: 50px/40px sans-serif;
  }
  
  .bar {
    display: inline-block;
    vertical-align: bottom;
    width: 40px;
    /* height: 200px; */
    margin-right: 10px;
    background: linear-gradient(32deg, #1eb759 0%, #615c19 100%);;
    -webkit-transition: height 0.5s ease-out;
    transition: height 0.5s ease-out;
  }
  