.GaleryEvenements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	
	align-content: center;
}
.eventImage img {
	display: flex;
	
  max-height: 400px;
	background-image: contain;
}
.eventBody {
	
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: rgb(34, 34, 34);
	color: white;
	padding: 0px;
	border-radius: 10px;
	border: 0px;
	border-color: tomato;
	border-style: solid;
	transition: 200ms;
  max-width: 500px;
	max-height: 800px;
	margin: 20px;
	flex-wrap: wrap;
	
}
.eventDescription p {
	display: flex;
	max-height: 250px;
	font-size: 1.2rem;
  flex-wrap: wrap;
	text-align: center;

}
.eventDescription {
	display: flex;
	flex-wrap: wrap;
	text-overflow:ellipsis;
	max-height: 250px;
	position: relative;


}
.eventTitle {
	font-size: 2rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	font-weight: bold;
	height: 50px;
	text-overflow: clip;
	color: tomato;
}

.eventBody:hover {
	transition: 200ms;
	border: 3px;
	border-color: var(--orange-logo);
	border-style: solid;
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.6s 0s ease-in-out;
}