

.contener {
    display: flex;
    /* flex-direction: column;   */
    justify-content: center;
    /* background: linear-gradient(45deg, #95a5fc, #ffc8ef); */
    
}

.contener-1 {
    display: flex;
justify-content: space-around;
    align-items: flex-end;
    width: 600px;
    margin: 30px;
}
.labelFrom{
     display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
    color: black;
    
}
.selectForm {
    padding: 6px;
    margin: 10px 0px;
    height: 35px;
}
.locForm{
        display: flex;
    flex-direction: column;
    margin: 10px;
    color: black;
    width:380px;

}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contButton {
    height: 100%;
    position: relative;
    perspective: -1px;
}
.buttonForm {
    /* margin-bottom: 1rem;
    padding: 10px 30px;
    background-color: var(--gray-2);
    border: solid black 1px;
    font-weight: bold; */
    border: none;
    position: relative;
    background: none;
    padding: 30px 80px;
    display: inline-block;
    text-transform: uppercase;
    background: #cc0099;
    color: #fff;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 800;
    transform-style: preserve-3d;
    outline: none;
    outline: 1px solid transparent;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.buttonForm:after {
    content: "Button";
    position: absolute;
    padding: 30px 80px;
    z-index: -1;
    transition: all 0.5s ease-out;
    width: 42%;
    left: 0;
    top: -100%;
    background: #990073;
    transform-origin: 0% 100%;
    transform: rotateX(90deg);
}

.buttonForm:hover {
    transform: translateY(40px) rotateX(-90deg);
}
.buttonForm:active {
    /* box-shadow: 
      7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px); */
    
}



@media  screen and (max-width: 768px) {
    .contener-1 {
        width: 300px;
        display:flex;
        flex-direction: column;
        margin: auto;
    }
   /* .locForm {
        width: 200px;
        display: flex;
        flex-direction: column;
        margin-left: 90px; 
    } */
    .buttonForm {
        
    }
}