.wrapper-leaf {
  position: relative;
  top: 100rem;
  left: 10rem;
  right: 10rem;
  opacity:1;
  width: 50vw;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.233);
  animation: slide-up 1s ease-in-out 250ms;
  animation-fill-mode: forwards;
  /* visibility: hidden; */
}
@keyframes slide-up {
  0% {
      visibility: visible;
      top: 5rem;

  }
  100% {
      visibility: visible;
      top: 10rem;

  }
}
.wrap-leaf {
  display: flex;
  justify-content: center;
}
.leaflet-container {
  width: 78vw;
  height: 41vh;
  margin: 50px 0;

}
.btn-leaf {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}




.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}
