
#hosting {
    display: flex;
    justify-content: space-between;
}

#hosting a p {
    font-size: 1.1rem;
}

#hosting section h2 {
    margin-top: 0px;
}

.hosting-list {
    background-color: #F2F2F2;
    padding: 20px 20px 10px 20px;
    border-radius: var(--border-radius-2);
    height: 100%;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hosting-list img {
border-radius: var(--border-radius-2);
object-fit: cover;
width: 100%;
height: 200px;
}

.hosting-list a {
    width: 20%;
    margin-bottom: 50px;
    background: linear-gradient(45deg, #95a5fc, #ffc8ef);
    padding: 10px;
    border-radius: 27px;
    height: 500px;
}

.hosting-list a article:hover {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.hosting-list a article img {
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.hosting-list a {
    color: black;
    text-decoration: none;
}

.hosting-list a article .article-content {
    padding: 10px 10px 0px 10px;
}

.hosting-list a article .article-content h3,
.hosting-list a article .article-content p {
    margin: 6px;
}

.hosting-list a article .article-content .price.bold {
    font-weight: bold;
}

#hosting .marseille {
    width: 100%;
}

#hosting .marseille .subtitle {
    font-weight: bold;
    font-size: 120%;
}

#hosting .famous .chart-icone {
    position: absolute;
    top: 20px;
    right: 20px;
}

#hosting .famous {
    width: 35%;
    position: relative;
}

#hosting .famous .hosting-list {
    flex-direction: column;
}

#hosting .famous .hosting-list a {
    width: 100%;
}

#hosting .famous .hosting-list a article {
    display: flex;
    flex-direction: row;
}

#hosting .famous .hosting-list a article img {
    border-radius: 25px 0px 0px 25px;
    width: 35%;
}

#hosting .famous .hosting-list a article .article-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.subtitle a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    line-height: 35px;
}