.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  
}

.overlay_text {
  margin-bottom: 400px;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}
.carousel .slide img {
  object-fit: cover;
  height: 70vh;
  width: 100vw;
  -webkit-filter: grayscale(10%);
  filter: contrast(50%)
  
}

.overlay_title {
 display: flex;
 justify-content: center;
 position: center;
 color: white;
 font-size: 3rem;
 text-shadow: 1px 1px 2px black;
}
.carousel.carousel-slider .control-arrow {
  display: none;
}
.overlay_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.carousel .thumbs {
margin: 0;
display: flex;
align-items: center;
object-fit: cover;
flex-wrap: wrap;
align-content: center;
-webkit-filter: grayscale(10%);
filter: contrast(50%)
}

.carousel .thumb {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  margin: 0.1em;
  cursor: pointer;

}

/* .carousel .overlay {
  width: 80%;
  transform: translateY(-70vh) translateX(12%);
  background: rgba(0, 0, 0, 0.6);
  color: white;

} */


  /**********************/
  .sliderContainer {
    position: relative;
    height: 70%;


  }
  .overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 50%;
    max-width: 800px;
    overflow: hidden;
}
  .carousel .overlay {
    width: 80%;
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px black;
   

    
    
  }

  /***************/
.overlay .overlay_title {
  font-size: 3rem;
  margin:0!important;
  justify-content: center;
  position: absolute;
  
  

}
@media screen and (max-width:1000px) {
  .carousel .thumbs {
    display: none;
  }
  .carousel.carousel-slider .control-arrow {
    display: flex;
  }
}

@media screen and (max-width:600px) {
  .overlay_title {
    font-size: 2rem;
}
.sliderContainer {
  height:60%;
}
}