.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  
  max-height: 300px;
}

.carousel .thumbs {
margin: 0;
padding: 10px;
}

.carousel .thumb {
  margin: 0 px;
  cursor: pointer;

}
.carousel .overlay {
  width: 80%;
  transform: translateY(-70vh) translateX(12%);
  background: rgba(0, 0, 0, 0.6);
  color: white;

}
.carousel .overlay_title {
  margin:0.8rem 0 1rem 0;
}
@media screen and (max-width:600px) {
  .carousel .slide img {
    width: 100vw !important;
    height: 40vh;
    object-fit: cover;
  }
  
}