/*** GENERIQUE BASE ***$*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  --primary-1: #3498db;
  --primary-2: #2980b9;
  --danger-1: #e74c3c;
  --danger-2: #c0392b;
  --success-1: #2ecc71;
  --success-2: #27ae60;

  --gray-1:#D9D9D9;

  --gray-2: #B7B7B7;
  --gray-3: #34495e;

  --black-logo: #060606;
  --black-header: #211E1E;
  --orange-logo: #F15412;


  --bg-deg-1:#ffc8ef;
  --bg-deg-2:#95a5fc;
  
  --text-color: #444;

  --text-primary-color: white;
  --background-primary-color: var(--gray-1);

  --border: 1px solid var(--gray-2);
  --border-radius: 4px;
  --border-radius-1: 50px;
  --border-radius-2: 25px;

  --font-family-1: "Oswald";
  --font-family-2:"Urbanist";
  --font-family-3:"Roboto";

  --font-size-1: 1rem;
  --font-size-2: 1.6rem;
  --font-size-3: 2rem;

  --btn-height-xxl:200px;
 --btn-width-xxl:300px;
}

/******RESET CSS**********/
* {
  box-sizing: border-box;
  margin: 0;

}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding:3rem 1rem;
  font-style: 3rem;
  font-family: var(--font-family-1);
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color:white;
}

 a:link,a:visited {
   text-decoration: none;
 }
/******RESET CSS**********/


body {
  /* min-height: 100vh; */
  padding: 0;
  margin: 0;
  
  font-family: var(--font-family-2);
  font-size:var(--font-size-2);
    color: var(--text-primary-color);
  /* background-color: var(--background-primary-color); */
  background: linear-gradient(45deg, var(--bg-deg-1));
}

/*FLEX***/
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-fill {
  flex: 1 1 auto;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-30 {
  padding: 30px;
}

.m-10 {
  margin: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}


.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.bg-transparent{
  background-color: transparent;
}

.fullscreen {
  height: 100vh;
}
/* buttons*/

.btn {
  padding: 8px 15px;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: var(--primary-1);
  color: var(--text-primary-color);


}

.btn-primary:hover {
  background-color: var(--primary-2);
}

.btn-active {
  color: var(--orange-logo);

  border-bottom: 4px solid var(--orange-logo) !important;

}

.btn-inactif {
  background-color: none;
  color: var(--text-primary-color);
}


.btn-danger:hover {
  background-color: var(--danger-2);
}

.app-container {
  min-height: 100vh;
   display: grid;
  grid:
    "header" auto
   "main" auto
   "footer" 100px/ 100%; 

}

.container-80{
 display:block;
 width:80%;
 margin:auto;
}

.header {
  grid-area: header;

}

.main {
  grid-area: main;

}

.footer {
  grid-area: footer;

}

/****FN GENERIQUE*/